body {
    margin: 1;
    padding: 1;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.right-side {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Alinea el contenido en la parte superior */
    align-items: center;
    background-color: white;
    height: 100vh;
    width: 70%;
    padding: 100px;
  }

.left-side {
    flex: 1;
    width: 30%;
    height: 100vh;
    background-color: #821F1F;
    padding: 100px;
    color: white;

}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;

  }
  .button-container button {
    margin-bottom: 40px; /* Espacio vertical entre los botones */
    width: 150px;
    background-color: #d9d9d9;
    color: #821f1f;
  }


  .accept-button {
    width: 100%;
    height: 5%; /* Espacio para el botón "Aceptar" */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    margin-top: -70px;
  }

  .top-box {
    width: 100%;
    height: 38%;
    background-color: white; /* Color de fondo del recuadro superior */
    padding: 20px;
    box-sizing: border-box; /* Asegura que el padding no aumente el tamaño total */
    overflow: auto; /* Agrega desplazamiento si el contenido es demasiado largo */
    margin-bottom: 30px; /* Espacio entre top-box y main-content */
  }
  
  .main-content {
    width: 100%;
    height: 65%; /* Ocupa el espacio restante */
    background-color: #f0f0f0; /* Color de fondo del contenido principal */
    padding: 20px;
    box-sizing: border-box;
  }






  /*-----------------------------------------------------*/

 