<body>
  <div class="left-side">
    <div class="jave-logo">
      <img src="\assets\images\JAVEPUNTOSB.png" alt="" />
    </div>

    <div class="button-container">
      <button
        type="button"
        class="menu-buttons"
        (click)="navigateTo('premios')"
      >
        Premios
      </button>
      <!-- Boton de creacion y cancelacion -->

      <button
        type="button"
        class="menu-buttons"
        (click)="navigateTo('cafeterias')"
      >
        Cafeterias
      </button>
      <button type="button" class="menu-buttons" (click)="cerrarSesion()">
        Cerrar sesión
      </button>
    </div>

    <div>
      <button
        class="btn btn-lg goback-button text-center with-icon"
        (click)="navigateTo('home')"
      >
        <span><i class="fa fa-arrow-left fa-3x"></i></span>
      </button>
    </div>
  </div>
  <div class="right-side">
    <div class="top-box">
      <div class="data-form-layout">
        <form [formGroup]="createProductform" (ngsubmit)="onSubmit()">
          <div class="input-container">
            <label>Codigó de articulo</label>
            <input
              type="number"
              formControlName="id_articulo"
              placeholder="Ingreseel codigo del articulo"
              [ngModel]="productoInfo.id_articulo"
            />
          </div>

          <div class="input-container">
            <label>Descripción </label>
            <input
              type="text"
              formControlName="descripcion"
              placeholder="Ingrese la descripcion"
              [ngModel]="productoInfo.descripcion"
            />
          </div>
          <div class="input-container">
            <label>Departamento</label>
            <input
              type="number"
              formControlName="id_dpto"
              placeholder="Ingrese el departamento"
              [ngModel]="productoInfo.id_dpto"
            />
          </div>
          <div class="input-container">
            <label>Sección</label>
            <input
              type="number"
              formControlName="id_seccion"
              placeholder="Ingrese la seccion"
              [ngModel]="productoInfo.id_seccion"
            />
          </div>

          <div class="input-container">
            <label>Referencia proveedor</label>
            <input
              type="text"
              formControlName="proveedor"
              placeholder="Ingrese la referencia del proovedor"
              [ngModel]="productoInfo.proveedor"
            />
          </div>
          <div class="input-container">
            <label>Unidad de medición</label>
            <select
              formControlName="unidadmedida"
              placeholder="Ej: gramos"
              [ngModel]="productoInfo.unidadmedida"
            >
              <option value="" disabled selected>
                Seleccione el Tipo de unidad de medicion
              </option>
              <option value="">-</option>
              <option value="gr">Gramos</option>
              <option value="ml">ML</option>
            </select>
          </div>
          <div class="input-container">
            <label>Valor de medida</label>
            <input
              type="number"
              formControlName="medidareferencia"
              placeholder="Ingrese el valor de la medida"
              [ngModel]="productoInfo.medidareferencia"
            />
          </div>
          <div class="input-container">
            <label>Tipo de articulo</label>
            <input
              type="text"
              formControlName="tipoarticulo"
              placeholder="Ingrese el tipo de articulo"
              [ngModel]="productoInfo.tipoarticulo"
            />
          </div>
          <div class="input-container">
            <label>Tipo de articulo</label>
            <input
              type="number"
              formControlName="stock"
              placeholder="Ingrese el stock del articulo"
              [ngModel]="productoInfo.stock"
            />
          </div>
          <div class="input-container">
            <label>Tipo de articulo</label>
            <input
              type="number"
              formControlName="precio"
              placeholder="Ingrese el tipo de articulo"
              [ngModel]="productoInfo.precio"
            />
          </div>
          <div class="accept-button">
            <button type="button" class="btn btn-success custom-button">
              Aceptar
            </button>
          </div>
        </form>
      </div>
    </div>

    <div class="middle-box">
      <div class="search-bar">
        <input class="form-control" type="text" placeholder="Busqueda" />
      </div>
    </div>

    <div class="main-content">
      <div class="data-container">
        <div class="labels-container">
          <div
            class="column-info"
            *ngFor="let category of labels; let last = last"
            [ngClass]="{ 'last-label': last }"
          >
            <p class="label">{{ category }}</p>
          </div>
        </div>

        <div
          class="info-container"
          *ngFor="let producto of productosList; let last = last"
          [ngClass]="{ 'last-row': last }"
        >
          <div class="row-container">
            <!-- <p class="parameter-info">productos</p> -->
            <p class="parameter-info">{{ producto.id_articulo }}</p>
            <p class="parameter-info">{{ producto.descripcion }}</p>
            <p class="parameter-info">{{ producto.id_dpto }}</p>
            <p class="parameter-info">{{ producto.id_seccion }}</p>
            <p class="parameter-info">{{ producto.proveedor }}</p>
            <p class="parameter-info">{{ producto.unidadmedida }}</p>
            <p class="parameter-info">{{ producto.medidareferencia }}</p>
            <p class="parameter-info">{{ producto.tipoarticulo }}</p>
            <p class="parameter-info">{{ producto.stock }}</p>
            <p class="parameter-info">{{ producto.precio }}</p>
            <div class="button-layout">
              <button class="edit button" (click)="selectedProduct(producto)">
                Modificar
              </button>
              <button
                class="delete button"
                (click)="deleteProduct(producto.id_articulo)"
              >
                Eliminar
              </button>
              <!-- <button class="edit button">Modificar</button>
              <button class="delete button">Eliminar</button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
