<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>División de Pantalla</title>
</head>
<body>
    <div class="mitad-izquierda">
      <img src="https://pbs.twimg.com/profile_images/602842931339390976/OsL7t3SX_400x400.jpg">
    </div>
    <div class="mitad-derecha">
      <div class="login-box">
        <form>
            <h2>Iniciar Sesión</h2>
            <div class="login-input">
                <input type="text" id="usuario" name="usuario" placeholder="Usuario">
            </div>
            <div class="login-input">
                <input type="password" id="contrasena" name="contrasena" placeholder="Contraseña">
            </div>
            <div class="login-button">
                <button type="submit">Iniciar Sesión</button>
            </div>
        </form>
    </div>

    </div>
</body>
</html>

