

.CuadroAfuera{
  background-color: #821F1F;
  width: 90%;
  text-align: center;
  padding: 2em;
  margin-left: 3.5em;
  box-sizing: border-box ;
}

.CuadroAdentro{
  background-color: #D9D9D9;
  border-color: #000000;
  margin: 3em 30% ;
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
  box-sizing: border-box;
}

.menu-buttons{
  text-align: center;
  font-family: STIX Two Text;
  width: 10em;
  margin: 5% auto;
  padding: 0.3em 2em;
  border: 0.1em solid #000000;
  background-color: #D9D9D9;
  color: #821F1F;
}

.headerdiv{
  background-color: #821F1F;
  height: 7em;
  display: flex;
  align-items: center; /* Centra verticalmente los elementos en el contenedor */
  text-align: center; /* Centra horizontalmente el contenido */
}

.H1Menu {
  font-size: 4em; /* Puedes ajustar el tamaño de fuente según tus preferencias */
  color: #D9D9D9; /* Cambia el color del texto si es necesario */
  font-family: STIX Two Text;
  padding: 0;
}

.footerdiv{
  background-color: #821F1F;
  height: 100%;
  display: flex;
  justify-content: space-between; /* Distribuye los elementos alrededor del contenedor */
  align-items: center;  
}

.footer-buttons {
  text-align: center;
  font-family: STIX Two Text;
  width: 10em;
  padding: 0.3em 2em;
  color: #821F1F;
  margin: 0; /* Elimina el margen para que los botones estén igualmente espaciados */
  background: none;
  border: none;
}


.headerdiv .footer-buttons img {
  height: 5em; /* Ajusta el alto deseado, por ejemplo, 1em */
  object-fit: contain; /* Esto mantiene la relación de aspecto y ajusta la imagen dentro del botón */
  background: none;
  border: none;
}