<header >
    <div class="headerdiv">
        <button class="footer-buttons">
            <img src="assets\images\menu.png">
        </button>
        <h1 class="H1Menu">Menu principal</h1>
    </div>

</header>

<body>
    <div class="CuadroAfuera">
        <div class="CuadroAdentro">
            <button class="menu-buttons" (click)="navigateTo('premios')">
                Premios
            </button>
            <br>
            <button class="menu-buttons" (click)="navigateTo('cafeterias')">
                Cafeterías
            </button>
            <br>
            <button class="menu-buttons" (click)="navigateTo('productos')">
                Productos
            </button>
            <br>
            <button class="menu-buttons" (click)="navigateTo('login')">
                Salir
            </button>
        </div>
    </div>
</body>

<footer>
    <div class="footerdiv">
        <img src="assets\images\leftArrowN.png" class="footer-buttons">
        <img src="assets\images\home.png" class="footer-buttons">
        <img src="assets\images\user_icon.png" class="footer-buttons">
    </div>
</footer>
