

/* .main-info-container
{
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
} */

/* Estilos para .main-info-container */
.main-info-container {
    background-color: white;
    border-radius: 10px;
    border: 1px solid ;
    padding: 20px 50px;
    margin-bottom: 30px;
  }
  
  /* Estilos para .general-info-layout */
  .main-info-container .general-info-layout {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Estilos para .title-layout */
  .main-info-container .general-info-layout .title-layout {
    display: flex;
    justify-content: flex-start;
    column-gap: 20px;
  }
  
  /* Estilos para .image dentro de .title-layout */
  .main-info-container .general-info-layout .title-layout .image {
    width: 60px;
  }
  
  /* Estilos para .title dentro de .title-layout */
  .main-info-container .general-info-layout .title-layout .title {
    font-size: 2.8em;
  }
  
  /* Estilos para botón dentro de .button-create-layout */
  .main-info-container .general-info-layout .button-create-layout button {
    border-radius: 10px;
    border: none;
    background-color: #10A015;
    color: white;
    font-size: 2em;
    padding: 10px 20px;
    transition: 300ms;
    min-width: 180px;
    font-weight: bold;
  }
  
  /* Estilos para botón:hover dentro de .button-create-layout */
  .main-info-container .general-info-layout .button-create-layout button:hover {
    cursor: pointer;
    transform: scale(1.02);
  }
  
  /* Estilos para .data-form-layout */
  .main-info-container .data-form-layout {
    border-top: 1px solid ;
    padding: 20px 0px;
    margin-top: 20px;
  }
/* Estilos para .data-container */
.data-container {
    background-color: white;
    border-radius: 10px;
    border: 1px solid;
  }
  
  /* Estilos para .labels-container dentro de .data-container */
  .data-container .labels-container {
    display: flex;
    flex-flow: row nowrap;
    padding: 15px 30px;
    justify-content: space-between;
    border-bottom: 1px solid;
    column-gap: 6px;
    background-color: #F8F8F8;
    border-radius: 8px 8px 0px 0px;
  }
  
  /* Estilos para .label dentro de .column-info */
  .data-container .labels-container .column-info .label {
    font-size: 1.3em;
    font-weight: 300;
    text-align: center;
    min-width: 100px;
    color: #7a7a7a;
  }
  
  /* Estilos para .last-label dentro de .labels-container */
  .data-container .labels-container .last-label {
    min-width: 150px;
  }
  
  /* Estilos para .info-container dentro de .data-container */
  .data-container .info-container {
    border-bottom: 1px solid #eeeeee;
  }
  
  /* Estilos para .row-container dentro de .info-container */
  .data-container .info-container .row-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 10px 30px;
    column-gap: 10px;
  }
  
  /* Estilos para .parameter-info dentro de .row-container */
  .data-container .info-container .row-container .parameter-info {
    font-size: 1.3em;
    font-weight: 300;
    text-align: center;
    max-width: 150px;
    min-width: 50px;
  }
  
  /* Estilos para :first-child de .parameter-info */
  .data-container .info-container .row-container .parameter-info:first-child {
    max-width: 50px;
  }
  
  /* Estilos para .button-layout dentro de .row-container */
  .data-container .info-container .row-container .button-layout {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    column-gap: 5px;
    min-width: 150px;
  }
  
  /* Estilos para botón dentro de .button-layout */
  .data-container .info-container .row-container .button-layout .button {
    border-radius: 5px;
    padding: 5px 10px;
    border: none;
    color: white;
    transition: 300ms;
  }
  
  /* Estilos para :hover de botón dentro de .button-layout */
  .data-container .info-container .row-container .button-layout .button:hover {
    opacity: 90%;
    transform: scale(1.05);
  }
  
  /* Estilos para .edit dentro de .button-layout */
  .data-container .info-container .row-container .button-layout .edit {
    background-color: #066699;
  }
  
  /* Estilos para .delete dentro de .button-layout */
  .data-container .info-container .row-container .button-layout .delete {
    background-color: #FB3D3D;
  }
  
  /* Estilos para .last-row dentro de .data-container */
  .data-container .info-container .last-row {
    border: none !important;
  }
  
  /* Estilos para .close-button */
  .close-button {
    background-color: #FB3D3D !important;
  }
  
  /* Estilos para .confirm-button */
  .confirm-button {
    background-color: #10A015 !important;
  }
  