<p>productos works!</p>
<div class="main-info-container">
  <div class="general-info-layout">
    <div>
      <h1>Gestión de productos</h1>
    </div>

    <div class="button-create-layout">
      <div *ngIf="!createLayoutActivate">
        <button (click)="launchCreateFormLayout()">Crear Producto</button>
      </div>
      <div *ngIf="createLayoutActivate || updateLayoutActivate">
        <button class="close-button" (click)="closeInputFormLayout()">
          Cancelar
        </button>
      </div>
    </div>

  </div>

  <div class="data-form-layout" *ngIf="createLayoutActivate || updateLayoutActivate">
    <form [formGroup]="createProductform" (ngsubmit)="onSubmit()">
      <div class="input-container">
        <label>Nombre del producto</label>
        <input
          type="text"
          formControlName="name"
          placeholder="Ingrese el nombre"
          [ngModel]="productoInfo.nombre"
        />
      </div>
      <div class="input-container">
        <label>Descripción del producto</label>
        <input
          type="text"
          formControlName="description"
          placeholder="Ingrese la descripción"
          [ngModel]="productoInfo.descripcion"
        />
      </div>
      <div class="input-container">
        <label>Precio del producto</label>
        <input
          type="number"
          formControlName="price"
          placeholder="Ingrese el precio"
          [ngModel]="productoInfo.precio"
        />
      </div>
      <div class="input-container">
        <label>Stock del producto</label>
        <input
          type="number"
          formControlName="stock"
          placeholder="Ingrese el stock"
          [ngModel]="productoInfo.stock"
        />
      </div>
    </form>
  </div>
</div>
