  /* Estilos para .delete dentro de .button-layout */
  .data-container .info-container .row-container .button-layout .delete {
    background-color: #FB3D3D;
  }

  /* Estilos para .last-row dentro de .data-container */
  .data-container .info-container .last-row {
    border: none !important;
  }

  /* Estilos para .close-button */
  .close-button {
    background-color: #FB3D3D !important;
  }

  /* Estilos para .confirm-button */
  .confirm-button {
    background-color: #10A015 !important;
  }

