<body>
  <div class="left-side">
    <div class="button-container">
      <button
      type="button"
      class="menu-buttons"
      (click)="navigateTo('productos')"
    >
      Limpiar
    </button>
    </div>
    
    <div class="jave-logo">
      <img src="\assets\images\JAVEPUNTOSB.png" alt="" />
    </div>

    <div class="button-container">

      <button
        type="button"
        class="menu-buttons"
        (click)="navigateTo('productos')"
      >
        Productos
      </button>

      <button
        type="button"
        class="menu-buttons"
        (click)="navigateTo('cafeterias')"
      >
        Cafeterias
      </button>
      <button type="button" class="menu-buttons" (click)="cerrarSesion()">
        Cerrar sesión
      </button>
    </div>

    <div>
      <button
        class="btn btn-lg goback-button text-center with-icon"
        (click)="navigateTo('home')"
      >
        <span><i class="fa fa-arrow-left fa-3x"></i></span>
      </button>
    </div>
  </div>
  <div class="right-side">
    <div class="top-box">
      <div class="data-form-layout">
        <form [formGroup]="createPromoform" (ngSubmit)="onSubmit()">
          <div class="input-container">
            <label>Código id del premio</label>
            <input
              type="number"
              formControlName="id"
              placeholder="Ingreseel codigo del premio"
              [ngModel]="premioInfo.id"
            />
          </div>

          <div class="input-container">
            <label>Id(s) de Articulo</label>
            <input
              type="number"
              formControlName="articuloId"
              placeholder="Ingrese el id del articulo"
              [ngModel]="premioInfo.articuloId"
            />
          </div>
          <div class="input-container">
            <label>Precio</label>
            <input
              type="number"
              formControlName="precioNuevo"
              placeholder="Ingrese el nuevo precio del articulo"
              [ngModel]="premioInfo.precioNuevo"
            />
          </div>
          <div class="input-container">
            <label>Fecha inicio de promoción</label>
            <input
              type="date"
              formControlName="fechaInicio"
              placeholder="Ingrese la fecha de inicio para la promoción"
              [ngModel]="premioInfo.fechaInicio"
            />
          </div>
          <div class="input-container">
            <label>Fecha fin de promoción</label>
            <input
              type="date"
              formControlName="fechaFin"
              placeholder="Ingrese la fecha de finalización para la promoción"
              [ngModel]="premioInfo.fechaFin"
            />
          </div>

          <div class="input-container">
            <label>Seleccionar Productos</label>
            <mat-form-field appearance="fill">
              <mat-label>Productos</mat-label>
              <mat-select [(ngModel)]="productosSeleccionados" multiple>
                <mat-option *ngFor="let producto of productosList" [value]="producto">
                  {{ producto.descripcion }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          

          <div class="accept-button">
            <button type="button" class="btn btn-success custom-button">
              {{formButtonLayoutTitle}}
            </button>
          </div>
          
        </form>
      </div>
    </div>

    <div class="middle-box">
      <div class="search-bar">
        <input class="form-control" type="text" placeholder="Busqueda" />
      </div>
    </div>

    <div class="main-content">
      <div class="data-container">
        <div class="labels-container">
          <div
            class="column-info"
            *ngFor="let category of labels; let last = last"
            [ngClass]="{ 'last-label': last }"
          >
            <p class="label">{{ category }}</p>
          </div>
        </div>

        <div
          class="info-container"
          *ngFor="let promo of premioList; let last = last"
          [ngClass]="{ 'last-row': last }"
        >
          <div class="row-container">
            <p class="parameter-info">{{ promo.id }}</p>
            <p class="parameter-info">{{ promo.descripcion }}</p>
            <p class="parameter-info">{{ promo.articuloId }}</p>
            <p class="parameter-info">{{ promo.precioNuevo }}</p>
            <p class="parameter-info">{{ promo.fechaInicio }}</p>
            <p class="parameter-info">{{ promo.fechaFin }}</p>
            <div class="button-layout">
              <button class="edit button" (click)="selectedPromo(promo)">
                Modificar
              </button>
              <button class="delete button" (click)="deletePromo(promo.id)">
                Eliminar
              </button>
              <button class="add-articulo button" (click)="agregarArticulo(promo.id)">
                Agregar Artículo
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
